In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns

# Context

In [18]:
df = pd.read_csv("train.csv", index_col="PassengerId")
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
0,1,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,1,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S

# Data quality assessment

In [3]:
# Get the overall description of the df: rows, columns, data types, count of non-null values for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Survived  100000 non-null  int64
 1   Pclass    100000 non-null  int64
 2   Name      100000 non-null  object
 3   Sex       100000 non-null  object
 4   Age       96708 non-null   float64
 5   SibSp     100000 non-null  int64
 6   Parch     100000 non-null  int64
 7   Ticket    95377 non-null   object
 8   Fare      99866 non-null   float64
 9   Cabin     32134 non-null   object
 10  Embarked  99750 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 9.2+ MB

Columns with missing values: Age, Fare, Embarked, Cabin, Ticket. Cabin column contains ~70% of Null values.
Data types are correct.

In [ ]:
# Check on full duplicates (excluding generated PassengerId)
dupl = df[["Survived", "Pclass", "Name", "Sex", "Age", "SibSp", "Parch", "Ticket", "Cabin", "Fare", "Embarked"]].duplicated(keep=False).reset_index().rename(columns={0:'duplicate'})
dupl[dupl["duplicate"]==True]["duplicate"].count()

In [19]:
# Columns are supposed to be useless for data analysis 
# Cabin - the majority of values are NaN
# Ticket - technical values without business sense
# Name - PII data without any value for data analysis
useless_columns = ["Name", "Ticket", "Cabin"] 
df = df.drop(columns=useless_columns) # Drop useless columns from the df to improve performance while df processing
df.head()

             Survived  Pclass   Sex    Age  SibSp  Parch   Fare Embarked
PassengerId
0                   1       1  male    NaN      2      0  27.14        S
1                   0       3  male    NaN      0      0  13.35        S
2                   0       3  male   0.33      1      2  71.29        S
3                   0       3  male  19.00      0      0  13.04        S
4                   1       3  male  25.00      0      0   7.76        S

In [6]:
# Get an overall summary of the dataset using descriptive statistics of numeric attributes
df.describe()

,Survived,Pclass,Age,SibSp,Parch,Fare
count,100000.000000,100000.000000,96708.000000,100000.000000,100000.000000,99866.00000
mean,0.427740,2.106910,38.355472,0.397690,0.454560,43.92933
std,0.494753,0.837727,18.313556,0.862566,0.950076,69.58882
min,0.000000,1.000000,0.080000,0.000000,0.000000,0.68000
25%,0.000000,1.000000,25.000000,0.000000,0.000000,10.04000
50%,0.000000,2.000000,39.000000,0.000000,0.000000,24.46000
75%,1.000000,3.000000,53.000000,1.000000,1.000000,33.50000
max,1.000000,3.000000,87.000000,8.000000,9.000000,744.66000

Value range for each column looks meaningful and correct based on min, max and mean values.

In [5]:
# Check for unique values per column
val_counts_dict = {}
for column in df.columns:
    val_counts_dict[column] = df[column].value_counts().to_dict()
val_counts_dict

{'Survived': {0: 57226, 1: 42774},
 'Pclass': {3: 41006, 1: 30315, 2: 28679},
 'Sex': {'male': 56114, 'female': 43886},
 'Age': {25.0: 2354,
  23.0: 2345,
  26.0: 2320,
  24.0: 2298,
  27.0: 2088,
  22.0: 2019,
  52.0: 1924,
  28.0: 1911,
  53.0: 1905,
  55.0: 1840,
  51.0: 1836,
  56.0: 1825,
  54.0: 1819,
  57.0: 1803,
  29.0: 1769,
  49.0: 1748,
  50.0: 1740,
  58.0: 1712,
  48.0: 1701,
  21.0: 1675,
  30.0: 1661,
  34.0: 1649,
  31.0: 1631,
  59.0: 1620,
  47.0: 1616,
  46.0: 1610,
  36.0: 1608,
  32.0: 1574,
  60.0: 1550,
  38.0: 1547,
  33.0: 1529,
  35.0: 1528,
  45.0: 1525,
  40.0: 1522,
  37.0: 1504,
  41.0: 1497,
  61.0: 1496,
  39.0: 1479,
  43.0: 1478,
  44.0: 1477,
  42.0: 1425,
  20.0: 1387,
  62.0: 1361,
  63.0: 1253,
  64.0: 1102,
  65.0: 1069,
  4.0: 1012,
  5.0: 1008,
  6.0: 970,
  19.0: 970,
  66.0: 942,
  7.0: 941,
  3.0: 925,
  2.0: 879,
  8.0: 816,
  67.0: 768,
  9.0: 730,
  18.0: 716,
  68.0: 678,
  1.0: 649,
  10.0: 602,
  69.0: 561,
  11.0: 517,
  70.0: 465,
  17.0: 462,
  71.0: 448,
  12.0: 418,
  13.0: 393,
  72.0: 360,
  16.0: 327,
  14.0: 299,
  73.0: 297,
  15.0: 271,
  74.0: 223,
  75.0: 155,
  76.0: 136,
  77.0: 86,
  78.0: 70,
  0.25: 68,
  0.17: 67,
  0.83: 63,
  0.42: 62,
  79.0: 62,
  0.67: 62,
  0.58: 62,
  0.5: 58,
  0.75: 57,
  0.33: 53,
  0.92: 51,
  0.08: 39,
  80.0: 36,
  81.0: 19,
  29.5: 18,
  22.5: 16,
  56.5: 15,
  24.5: 15,
  49.5: 15,
  25.5: 14,
  51.5: 14,
  59.5: 14,
  26.5: 12,
  27.5: 12,
  57.5: 12,
  58.5: 11,
  46.5: 11,
  28.5: 10,
  30.5: 10,
  31.5: 10,
  23.5: 10,
  42.5: 10,
  54.5: 9,
  83.0: 9,
  43.5: 9,
  50.5: 9,
  36.5: 9,
  55.5: 9,
  53.5: 9,
  82.0: 9,
  44.5: 8,
  45.5: 8,
  38.5: 8,
  39.5: 8,
  60.5: 8,
  52.5: 8,
  20.5: 7,
  37.5: 7,
  2.5: 7,
  61.5: 7,
  32.5: 6,
  40.5: 6,
  62.5: 6,
  7.5: 6,
  33.5: 6,
  19.5: 5,
  9.5: 5,
  4.5: 5,
  72.5: 5,
  5.5: 5,
  63.5: 5,
  35.5: 5,
  66.5: 4,
  6.5: 4,
  47.5: 4,
  85.0: 4,
  34.5: 4,
  41.5: 4,
  10.5: 4,
  65.5: 3,
  15.5: 3,
  84.0: 3,
  21.5: 3,
  67.5: 3,
  71.5: 3,
  11.5: 3,
  8.5: 3,
  12.5: 3,
  48.5: 3,
  86.0: 2,
  16.5: 2,
  75.5: 2,
  73.5: 2,
  3.5: 2,
  18.5: 2,
  68.5: 2,
  1.5: 2,
  70.5: 2,
  13.5: 1,
  14.5: 1,
  69.5: 1,
  87.0: 1,
  74.5: 1,
  78.5: 1,
  80.5: 1},
 'SibSp': {0: 73308, 1: 19758, 2: 3703, 3: 1635, 4: 1168, 8: 296, 5: 132},
 'Parch': {0: 73540,
  1: 12996,
  2: 11236,
  3: 983,
  4: 446,
  5: 331,
  9: 264,
  6: 204},
 'Fare': {9.27: 87,
  9.85: 87,
  9.79: 86,
  9.2: 85,
  9.45: 83,
  9.18: 83,
  9.52: 82,
  9.12: 82,
  8.95: 82,
  9.5: 82,
  8.16: 81,
  10.13: 81,
  9.68: 81,
  8.34: 81,
  9.66: 80,
  9.29: 80,
  8.75: 80,
  10.11: 79,
  8.3: 79,
  8.88: 79,
  8.83: 78,
  7.83: 78,
  9.73: 78,
  9.37: 78,
  9.55: 77,
  8.84: 77,
  9.36: 77,
  8.74: 77,
  9.57: 76,
  8.89: 76,
  9.98: 76,
  10.02: 76,
  8.98: 76,
  10.55: 76,
  9.69: 75,
  10.69: 75,
  8.33: 75,
  9.34: 75,
  7.92: 74,
  9.78: 74,
  9.51: 74,
  7.67: 74,
  9.35: 74,
  9.44: 74,
  9.95: 74,
  9.91: 74,
  9.25: 74,
  8.92: 74,
  9.81: 73,
  10.01: 73,
  9.65: 73,
  9.48: 73,
  8.45: 73,
  10.1: 73,
  10.32: 73,
  9.71: 73,
  9.76: 73,
  8.5: 72,
  9.03: 72,
  8.58: 72,
  10.29: 72,
  10.35: 72,
  10.76: 72,
  9.75: 72,
  9.74: 72,
  9.24: 72,
  8.52: 72,
  8.85: 72,
  9.77: 72,
  10.24: 72,
  9.88: 72,
  9.41: 72,
  8.8: 71,
  9.4: 71,
  9.26: 71,
  10.33: 71,
  9.67: 71,
  10.42: 71,
  8.05: 71,
  9.97: 71,
  9.89: 71,
  10.21: 71,
  10.57: 71,
  9.21: 70,
  9.47: 70,
  10.43: 70,
  8.53: 70,
  8.18: 70,
  8.82: 70,
  10.06: 70,
  8.01: 70,
  10.08: 70,
  10.41: 70,
  10.61: 70,
  10.87: 69,
  11.0: 69,
  9.01: 69,
  9.64: 69,
  11.07: 69,
  10.07: 69,
  10.16: 69,
  9.13: 69,
  9.8: 69,
  8.22: 69,
  10.04: 69,
  8.1: 68,
  11.56: 68,
  8.21: 68,
  9.07: 68,
  10.17: 68,
  10.98: 68,
  11.28: 68,
  7.87: 68,
  9.56: 68,
  8.54: 68,
  9.83: 68,
  9.15: 68,
  10.0: 68,
  9.9: 68,
  10.37: 68,
  9.14: 68,
  9.05: 67,
  7.78: 67,
  10.51: 67,
  9.3: 67,
  9.59: 67,
  8.71: 67,
  10.65: 67,
  10.74: 67,
  11.04: 67,
  9.0: 67,
  9.84: 67,
  10.92: 67,
  9.43: 67,
  10.71: 67,
  10.48: 67,
  8.93: 67,
  9.02: 66,
  8.03: 66,
  8.69: 66,
  8.78: 66,
  9.39: 66,
  10.81: 66,
  9.82: 66,
  8.51: 66,
  9.11: 66,
  8.56: 66,
  10.44: 66,
  7.71: 66,
  8.64: 66,
  8.42: 66,
  10.18: 66,
  10.67: 65,
  10.83: 65,
  8.39: 65,
  9.1: 65,
  8.11: 65,
  9.92: 65,
  10.36: 65,
  8.86: 65,
  8.68: 65,
  8.28: 65,
  10.12: 65,
  10.99: 65,
  8.66: 65,
  8.62: 65,
  7.8: 64,
  9.93: 64,
  8.49: 64,
  11.43: 64,
  8.61: 64,
  8.08: 64,
  8.77: 64,
  7.81: 64,
  10.2: 64,
  8.97: 64,
  8.26: 64,
  10.82: 64,
  9.49: 64,
  9.61: 64,
  9.08: 63,
  10.25: 63,
  8.41: 63,
  8.99: 63,
  10.93: 63,
  9.42: 63,
  8.31: 63,
  10.03: 63,
  10.54: 63,
  8.09: 63,
  10.56: 63,
  9.63: 63,
  8.46: 63,
  10.05: 63,
  9.19: 63,
  7.88: 63,
  10.31: 63,
  10.22: 63,
  10.72: 63,
  7.42: 62,
  11.18: 62,
  7.97: 62,
  7.63: 62,
  11.29: 62,
  10.19: 62,
  9.22: 62,
  9.23: 62,
  11.12: 62,
  10.58: 62,
  10.97: 62,
  11.1: 62,
  11.27: 62,
  10.45: 62,
  9.33: 61,
  10.94: 61,
  9.58: 61,
  7.9: 61,
  8.48: 61,
  10.15: 61,
  10.66: 61,
  7.82: 61,
  11.16: 61,
  10.96: 61,
  11.14: 61,
  8.96: 61,
  8.57: 61,
  8.7: 60,
  10.4: 60,
  9.94: 60,
  8.91: 60,
  10.86: 60,
  8.72: 60,
  10.5: 60,
  7.24: 60,
  8.19: 60,
  10.62: 60,
  8.6: 60,
  8.35: 60,
  10.47: 60,
  10.49: 60,
  9.31: 60,
  7.76: 60,
  9.6: 60,
  10.23: 59,
  7.85: 59,
  10.63: 59,
  9.87: 59,
  6.95: 59,
  9.04: 59,
  9.72: 59,
  8.59: 59,
  7.93: 59,
  10.27: 59,
  7.25: 59,
  8.32: 59,
  9.86: 59,
  8.37: 59,
  7.89: 59,
  8.81: 59,
  10.59: 59,
  10.88: 58,
  7.6: 58,
  10.53: 58,
  8.55: 58,
  10.46: 58,
  10.26: 58,
  7.62: 58,
  7.77: 58,
  10.14: 58,
  9.53: 58,
  11.31: 58,
  8.29: 57,
  8.07: 57,
  8.4: 57,
  8.94: 57,
  10.38: 57,
  10.78: 57,
  7.98: 57,
  11.22: 57,
  8.06: 57,
  8.87: 57,
  10.95: 57,
  11.4: 57,
  10.73: 57,
  8.2: 57,
  8.65: 57,
  8.12: 56,
  7.49: 56,
  11.02: 56,
  8.67: 56,
  9.38: 56,
  8.9: 56,
  9.16: 56,
  9.17: 56,
  9.62: 56,
  10.28: 56,
  10.64: 56,
  11.03: 56,
  8.76: 56,
  7.99: 56,
  8.44: 56,
  7.4: 56,
  9.96: 55,
  10.39: 55,
  9.46: 55,
  10.7: 55,
  11.13: 55,
  11.08: 55,
  9.54: 55,
  12.15: 55,
  8.63: 55,
  8.23: 55,
  9.28: 55,
  7.86: 55,
  11.15: 55,
  7.47: 55,
  8.14: 55,
  11.48: 54,
  11.23: 54,
  8.04: 54,
  9.7: 54,
  11.41: 54,
  9.06: 54,
  8.38: 54,
  7.28: 54,
  8.27: 54,
  8.25: 54,
  10.34: 53,
  7.39: 53,
  8.43: 53,
  10.6: 53,
  7.73: 53,
  7.68: 53,
  10.3: 53,
  10.68: 53,
  7.54: 53,
  8.73: 53,
  8.15: 53,
  10.09: 53,
  8.0: 53,
  11.53: 53,
  8.13: 53,
  8.24: 52,
  11.6: 52,
  10.75: 52,
  7.37: 52,
  11.7: 52,
  7.75: 52,
  7.45: 52,
  11.51: 52,
  10.52: 52,
  8.36: 52,
  11.44: 52,
  8.79: 52,
  7.41: 52,
  11.79: 52,
  11.77: 52,
  8.02: 52,
  10.89: 52,
  7.94: 52,
  11.36: 52,
  7.66: 51,
  6.85: 51,
  9.99: 51,
  7.7: 51,
  10.77: 51,
  10.91: 51,
  11.11: 51,
  7.38: 51,
  10.79: 51,
  11.58: 51,
  6.97: 51,
  7.74: 50,
  27.86: 50,
  11.88: 50,
  9.09: 50,
  10.8: 50,
  11.19: 50,
  7.17: 50,
  11.24: 50,
  7.3: 50,
  7.55: 50,
  7.61: 50,
  11.38: 50,
  11.01: 49,
  11.89: 49,
  7.16: 49,
  11.26: 49,
  7.43: 49,
  9.32: 49,
  10.84: 49,
  6.89: 49,
  7.02: 49,
  11.32: 49,
  11.17: 49,
  7.27: 49,
  7.79: 49,
  7.51: 49,
  10.85: 49,
  7.58: 49,
  11.9: 49,
  11.42: 49,
  11.78: 49,
  6.99: 48,
  7.5: 48,
  12.07: 48,
  7.59: 48,
  7.95: 48,
  7.53: 48,
  11.37: 48,
  11.8: 48,
  7.1: 48,
  7.32: 48,
  12.05: 48,
  11.81: 48,
  11.86: 48,
  11.34: 47,
  7.11: 47,
  11.49: 47,
  11.06: 47,
  27.93: 47,
  11.21: 47,
  11.69: 47,
  7.0: 47,
  26.62: 47,
  7.36: 47,
  8.17: 47,
  11.2: 47,
  11.25: 47,
  7.46: 47,
  12.27: 47,
  11.59: 47,
  7.35: 47,
  7.21: 46,
  10.9: 46,
  11.3: 46,
  27.77: 46,
  7.15: 46,
  7.2: 46,
  6.84: 46,
  7.09: 46,
  7.56: 46,
  7.34: 46,
  11.35: 46,
  12.33: 46,
  6.82: 46,
  28.77: 46,
  7.33: 46,
  7.69: 46,
  7.23: 46,
  7.19: 46,
  11.83: 46,
  27.01: 45,
  6.29: 45,
  11.67: 45,
  12.06: 45,
  6.48: 45,
  28.51: 45,
  6.94: 45,
  6.54: 45,
  7.65: 45,
  11.74: 45,
  7.29: 45,
  27.57: 45,
  7.44: 45,
  12.69: 45,
  11.05: 45,
  11.45: 44,
  29.31: 44,
  11.91: 44,
  12.31: 44,
  28.95: 44,
  24.49: 44,
  7.07: 44,
  11.94: 44,
  6.65: 44,
  6.69: 44,
  29.37: 44,
  11.46: 44,
  6.63: 44,
  11.99: 44,
  7.72: 44,
  7.12: 44,
  11.65: 43,
  25.65: 43,
  11.73: 43,
  7.08: 43,
  12.47: 43,
  11.5: 43,
  8.47: 43,
  11.39: 43,
  28.12: 43,
  7.96: 43,
  26.69: 43,
  7.13: 43,
  12.02: 43,
  28.88: 43,
  28.17: 43,
  28.94: 43,
  11.76: 42,
  7.22: 42,
  12.13: 42,
  7.05: 42,
  28.76: 42,
  12.21: 42,
  12.14: 42,
  26.02: 42,
  6.44: 42,
  12.09: 42,
  29.27: 42,
  7.26: 42,
  27.95: 42,
  12.35: 42,
  12.51: 42,
  30.15: 42,
  26.97: 41,
  6.92: 41,
  12.5: 41,
  6.75: 41,
  6.9: 41,
  27.8: 41,
  7.84: 41,
  11.71: 41,
  11.66: 41,
  7.91: 41,
  29.5: 41,
  11.96: 41,
  27.52: 41,
  28.97: 41,
  26.12: 41,
  28.84: 41,
  7.52: 41,
  28.28: 41,
  6.87: 41,
  31.11: 40,
  29.69: 40,
  25.0: 40,
  26.46: 40,
  28.66: 40,
  12.23: 40,
  27.1: 40,
  26.44: 40,
  7.06: 40,
  27.55: 40,
  7.48: 40,
  27.97: 40,
  11.63: 40,
  26.36: 40,
  27.42: 40,
  29.26: 40,
  6.28: 40,
  6.91: 40,
  7.57: 40,
  11.47: 40,
  29.8: 40,
  12.16: 40,
  12.32: 40,
  29.06: 40,
  29.68: 40,
  11.68: 40,
  12.12: 40,
  28.53: 39,
  27.79: 39,
  11.95: 39,
  6.59: 39,
  11.64: 39,
  27.5: 39,
  31.48: 39,
  6.62: 39,
  26.72: 39,
  27.58: 39,
  27.92: 39,
  29.33: 39,
  7.03: 39,
  29.88: 39,
  27.82: 39,
  30.43: 39,
  27.66: 39,
  28.16: 39,
  11.75: 39,
  29.08: 39,
  25.89: 39,
  25.99: 39,
  26.55: 39,
  29.49: 39,
  27.32: 39,
  27.33: 39,
  6.53: 38,
  11.87: 38,
  31.06: 38,
  6.47: 38,
  6.78: 38,
  28.93: 38,
  27.07: 38,
  29.76: 38,
  26.05: 38,
  30.34: 38,
  11.52: 38,
  28.58: 38,
  28.21: 38,
  12.61: 38,
  28.02: 38,
  25.85: 38,
  24.27: 38,
  12.74: 38,
  26.85: 38,
  31.04: 38,
  29.77: 38,
  29.14: 38,
  29.04: 38,
  11.33: 38,
  28.5: 38,
  28.81: 38,
  12.01: 38,
  12.22: 38,
  12.26: 38,
  25.27: 37,
  29.96: 37,
  26.6: 37,
  11.93: 37,
  11.55: 37,
  7.18: 37,
  25.28: 37,
  26.89: 37,
  12.18: 37,
  28.35: 37,
  6.66: 37,
  26.13: 37,
  26.63: 37,
  26.3: 37,
  27.69: 37,
  28.14: 37,
  30.59: 37,
  28.34: 37,
  28.06: 37,
  27.62: 37,
  25.09: 37,
  27.12: 37,
  6.3: 37,
  29.36: 37,
  28.39: 37,
  12.53: 37,
  29.07: 37,
  11.62: 37,
  7.14: 37,
  27.2: 37,
  29.89: 37,
  11.92: 37,
  29.86: 37,
  27.72: 37,
  28.05: 37,
  24.53: 37,
  11.72: 37,
  25.64: 37,
  28.65: 36,
  12.72: 36,
  27.7: 36,
  28.32: 36,
  12.28: 36,
  11.09: 36,
  30.7: 36,
  28.29: 36,
  29.91: 36,
  29.84: 36,
  12.03: 36,
  27.65: 36,
  30.73: 36,
  29.44: 36,
  27.28: 36,
  26.98: 36,
  7.64: 36,
  6.58: 36,
  29.11: 36,
  6.43: 36,
  11.84: 36,
  12.73: 36,
  28.92: 36,
  26.59: 36,
  25.17: 36,
  28.07: 36,
  29.18: 36,
  6.74: 36,
  6.46: 36,
  27.22: 36,
  30.61: 36,
  27.91: 36,
  28.4: 36,
  24.79: 36,
  6.11: 36,
  29.48: 36,
  11.97: 36,
  25.49: 36,
  26.91: 36,
  29.54: 36,
  30.62: 36,
  25.01: 36,
  25.22: 36,
  26.8: 36,
  12.0: 36,
  26.79: 36,
  27.4: 36,
  28.49: 36,
  29.2: 35,
  11.57: 35,
  28.9: 35,
  27.68: 35,
  27.67: 35,
  28.41: 35,
  12.17: 35,
  27.39: 35,
  27.17: 35,
  5.99: 35,
  28.08: 35,
  12.08: 35,
  29.09: 35,
  28.24: 35,
  26.5: 35,
  28.1: 35,
  12.04: 35,
  26.81: 35,
  30.39: 35,
  11.61: 35,
  26.26: 35,
  27.73: 35,
  30.44: 35,
  30.63: 35,
  6.96: 35,
  25.2: 35,
  29.28: 35,
  29.83: 35,
  26.33: 35,
  27.05: 35,
  6.76: 35,
  6.6: 35,
  11.98: 35,
  26.94: 35,
  27.96: 35,
  30.57: 35,
  29.92: 35,
  12.55: 35,
  12.25: 35,
  30.53: 35,
  26.93: 35,
  6.36: 35,
  7.31: 35,
  6.34: 35,
  6.77: 35,
  27.23: 35,
  6.64: 35,
  27.09: 34,
  28.71: 34,
  28.54: 34,
  25.87: 34,
  12.93: 34,
  24.17: 34,
  12.1: 34,
  6.51: 34,
  6.93: 34,
  27.88: 34,
  26.19: 34,
  24.37: 34,
  28.52: 34,
  6.86: 34,
  28.38: 34,
  27.61: 34,
  30.03: 34,
  28.96: 34,
  25.39: 34,
  30.04: 34,
  25.11: 34,
  27.63: 34,
  6.81: 34,
  29.41: 34,
  29.19: 34,
  25.75: 34,
  28.82: 34,
  25.62: 34,
  27.19: 34,
  28.67: 34,
  6.83: 34,
  30.27: 34,
  26.9: 34,
  28.7: 34,
  6.67: 34,
  29.05: 34,
  30.08: 34,
  12.44: 34,
  7.01: 34,
  25.31: 34,
  6.79: 34,
  29.01: 34,
  26.65: 34,
  30.97: 34,
  25.7: 33,
  29.1: 33,
  13.04: 33,
  27.78: 33,
  11.85: 33,
  30.3: 33,
  29.23: 33,
  27.02: 33,
  27.41: 33,
  27.64: 33,
  31.1: 33,
  26.95: 33,
  6.73: 33,
  26.07: 33,
  28.0: 33,
  12.42: 33,
  32.02: 33,
  26.7: 33,
  26.23: 33,
  29.17: 33,
  31.2: 33,
  26.35: 33,
  29.4: 33,
  6.98: 33,
  6.26: 33,
  25.43: 33,
  28.25: 33,
  26.24: 33,
  12.11: 33,
  28.85: 33,
  25.6: 33,
  26.96: 33,
  27.74: 33,
  28.13: 33,
  23.98: 33,
  27.98: 33,
  26.16: 33,
  6.7: 33,
  6.88: 33,
  32.65: 32,
  6.57: 32,
  6.55: 32,
  12.87: 32,
  28.11: 32,
  27.34: 32,
  28.6: 32,
  24.44: 32,
  26.75: 32,
  25.19: 32,
  28.56: 32,
  26.86: 32,
  6.31: 32,
  26.82: 32,
  30.81: 32,
  30.02: 32,
  6.71: 32,
  6.68: 32,
  12.29: 32,
  28.45: 32,
  24.89: 32,
  30.49: 32,
  27.94: 32,
  28.48: 32,
  25.58: 32,
  29.87: 32,
  26.58: 32,
  29.95: 32,
  29.99: 32,
  25.21: 32,
  27.85: 32,
  6.41: 32,
  28.91: 32,
  27.27: 32,
  27.56: 32,
  26.39: 32,
  29.78: 32,
  26.68: 32,
  30.32: 32,
  28.04: 32,
  30.71: 32,
  6.06: 32,
  26.83: 32,
  29.73: 32,
  28.43: 32,
  27.15: 32,
  26.25: 32,
  28.26: 32,
  25.53: 32,
  25.97: 32,
  28.8: 31,
  26.28: 31,
  27.54: 31,
  28.44: 31,
  6.56: 31,
  11.54: 31,
  26.0: 31,
  26.11: 31,
  28.99: 31,
  26.54: 31,
  31.88: 31,
  6.0: 31,
  29.25: 31,
  29.3: 31,
  6.14: 31,
  12.46: 31,
  6.09: 31,
  26.29: 31,
  28.2: 31,
  25.98: 31,
  32.48: 31,
  28.87: 31,
  6.21: 31,
  26.67: 31,
  28.47: 31,
  25.71: 31,
  25.13: 31,
  29.21: 31,
  26.88: 31,
  29.47: 31,
  29.94: 31,
  29.57: 31,
  30.26: 31,
  28.59: 31,
  31.16: 31,
  6.2: 31,
  24.93: 31,
  28.23: 31,
  24.39: 31,
  12.3: 31,
  25.29: 31,
  29.93: 31,
  29.72: 31,
  28.27: 31,
  6.61: 31,
  30.31: 31,
  28.22: 31,
  6.42: 31,
  26.73: 31,
  29.65: 31,
  28.73: 31,
  24.74: 31,
  29.13: 31,
  27.43: 31,
  26.17: 31,
  24.65: 31,
  26.38: 31,
  24.97: 30,
  26.42: 30,
  31.9: 30,
  12.59: 30,
  29.97: 30,
  32.09: 30,
  12.52: 30,
  30.41: 30,
  29.59: 30,
  29.34: 30,
  26.41: 30,
  6.27: 30,
  12.7: 30,
  24.98: 30,
  29.79: 30,
  27.51: 30,
  27.45: 30,
  27.6: 30,
  28.46: 30,
  31.49: 30,
  31.51: 30,
  12.45: 30,
  24.83: 30,
  28.33: 30,
  12.39: 30,
  26.34: 30,
  25.86: 30,
  24.12: 30,
  31.99: 30,
  28.62: 30,
  27.59: 30,
  27.31: 30,
  6.45: 30,
  12.2: 30,
  31.56: 30,
  30.2: 30,
  6.72: 30,
  6.4: 30,
  29.7: 30,
  6.49: 30,
  26.32: 30,
  25.36: 30,
  30.21: 30,
  29.75: 30,
  25.96: 30,
  31.59: 30,
  30.67: 30,
  31.0: 30,
  28.79: 30,
  27.37: 30,
  25.66: 30,
  24.59: 30,
  6.33: 30,
  28.86: 30,
  26.37: 30,
  29.64: 30,
  30.93: 30,
  23.42: 30,
  11.82: 30,
  30.18: 30,
  27.03: 30,
  ...},
 'Embarked': {'S': 72139, 'C': 22187, 'Q': 5424}}

In [20]:
# Fill Null values
# Age - replace NULLs with mean value
df['Age'] = df['Age'].fillna(df['Age'].median())

# Fare - replace NULLs with mean value depending on the passenger's class
cond1 = (df['Pclass'] == 1)
cond2 = (df['Pclass'] == 2)
cond3 = (df['Pclass'] == 3)
df.loc[cond1,'Fare'] = df.loc[cond1,'Fare'].fillna(df.loc[cond1,'Fare'].mean())
df.loc[cond2,'Fare'] = df.loc[cond2,'Fare'].fillna(df.loc[cond2,'Fare'].mean())
df.loc[cond3,'Fare'] = df.loc[cond3,'Fare'].fillna(df.loc[cond3,'Fare'].mean())

# Embarked - replace NULLs with mode value (the most frequent)
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Data exploration

In [ ]:
sns.catplot('Sex', data=df, hue='Survived', kind='count')

In [ ]:
sns.catplot('Pclass', data=df, hue='Survived', kind='count')

In [ ]:
sns.catplot('Parch', data=df, hue='Survived', kind='count')

# Summary